<!-- hero -->
<div class="container">
  <div class="hero" id="hero">
    <div class="container">
      <br>
      <br>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
        <div class="col-lg-4 col-md-6 col-sm-4">
          <a class="btn btn-primary btn-block" href="https://radis.readthedocs.io" role="button">RADIS, the radiation software</a>
        <br>
        </div>
        <div class="col-4 col-md-4 col-sm-4"></div>
      </div>
      <br>
      <br>
      <div clsss="row">
        <a class="github-button" href="https://github.com/radis/radis" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star radis/radis on GitHub">Star</a>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->
