<footer class="container-fluid links">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-4 links-item">
        <h6>Project</h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/radis/radis/graphs/contributors">Team</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="https://radis.readthedocs.io/en/latest/references/references.html#cite">Citation</a>
            </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-4 links-item">
        <h6>Documentation</h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="https://radis.readthedocs.io/">User Guide</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://radis.readthedocs.io/en/latest/examples/hitran-spectra.html">HITRAN Spectra</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-4 links-item">
        <h6>Hands On</h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/radis/radis-examples">Examples</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://radis.readthedocs.io/en/latest/online/online.html">🌱 Try Online</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-3 links-item">
        <h6>Contribute</h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/radis/radis">GitHub</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://radis.readthedocs.io/en/latest/developer.html">Developer Guide</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br />
</footer>
