<footer class="container-fluid links">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-4 links-item">
        <h6>Project</h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/radis/radis/graphs/contributors">Team</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="https://radis.readthedocs.io/en/latest/references/references.html#cite">Citation</a>
            </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-4 links-item">
        <h6>Documentation</h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="https://radis.readthedocs.io/">User Guide</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://radis.readthedocs.io/en/latest/auto_examples/index.html">Examples</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-4 links-item">
        <h6>Try Online</h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="https://radis.app" onclick="captureOutboundLink('https://radis.app'); return false;">App : Quick HITRAN calculations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://radis.github.io/radis-lab" onclick="captureOutboundLink('https://radis.github.io/radis-lab'); return false;">Lab : Research-grade Environment</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-3 links-item">
        <h6>Contribute</h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/radis/radis">GitHub</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://radis.readthedocs.io/en/latest/developer.html">Developer Guide</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br />
</footer>
