<!-- main menu -->
<div class="container py-3 py-lg-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-menu">

    <a class="navbar-brand" href="/" id="logo">
      <img src="/img/radis_ico.png" height="50" width="50" />
    </a>

    <button class="navbar-toggler ml-auto hidden-sm-up float-xs-left" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item flex-md-fill text-md-center">
          <a class="nav-link" href="https://radis.readthedocs.io/" onclick="captureOutboundLink('https://radis.readthedocs.io/'); return false;">Documentation</a>
        </li>

        <li class="nav-item flex-md-fill text-md-center">
            <a class="nav-link" href="//github.com/radis/radis" onclick="captureOutboundLink('//radis.readthedocs.io/en/latest/auto_examples/'); return false;">Examples</a>
        </li>

        <li class="nav-item flex-md-fill text-md-center">
          <a class="nav-link" href="https://radis.github.io/slack-invite" onclick="captureOutboundLink('https://radis.github.io/slack-invite'); return false;">Community</a>
        </li>

        <li class="nav-item flex-md-fill text-md-center">
          <a class="nav-link" href="https://radis.app" onclick="captureOutboundLink('https://radis.app'); return false;">🌱 Online App</a>
        </li>

        <li class="nav-item flex-md-fill text-md-center">
          <a class="nav-link" href="https://radis.github.io/radis-lab" onclick="captureOutboundLink('https://radis.github.io/radis-lab'); return false;">🔬 Online Lab</a>
        </li>

        <li class="nav-item flex-md-fill text-md-center">
            <a class="nav-link" href="https://openastronomy.org/members/" onclick="captureOutboundLink('https://openastronomy.org/members/'); return false;">OpenAstronomy</a>
        </li>

      </ul>
    </div>

  </nav>
</div>
<!-- end main menu -->
