<!-- main menu -->
<div class="container py-3 py-lg-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-menu">

    <a class="navbar-brand" href="/" id="logo">
      <img src="/img/radis_ico.png" height="50" width="50" />
    </a>

    <button class="navbar-toggler ml-auto hidden-sm-up float-xs-left" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item flex-md-fill text-md-center">
          <a class="nav-link" href="https://radis.readthedocs.io/">Documentation</a>
        </li>

        <li class="nav-item flex-md-fill text-md-center">
            <a class="nav-link" href="//radis.readthedocs.io/en/latest/auto_examples/">Examples</a>
        </li>

        <li class="nav-item flex-md-fill text-md-center">
          <a class="nav-link" href="https://radis.github.io/slack-invite">Community</a>
        </li>

        <li class="nav-item flex-md-fill text-md-center">
          <a class="nav-link" href="https://radis.app">🌱 Online App</a>
        </li>

        <li class="nav-item flex-md-fill text-md-center">
          <a class="nav-link" href="https://radis.github.io/radis-lab">🔬 Online Lab</a>
        </li>

        <li class="nav-item flex-md-fill text-md-center">
            <a class="nav-link" href="https://www.youtube.com/channel/UCO-7NXkubTAiGGxXmvtQlsA"">Videos</a>
        </li>

      </ul>
    </div>

  </nav>
</div>
<!-- end main menu -->
